body {
    background:black;
}

.container {
    height:90vh;
    display: flex;
    flex-direction: column nowrap;
    align-items: end;
}

.candle {
    width:20%;

    position:relative;
    overflow:hidden;

    animation: waning 600s infinite, glowing 5s infinite alternate-reverse;
    /* animation: blink 2s infinite ease-in-out; */

    margin: 0 1em;

    transition: .5s;

}

.candle img {
    height:90vh;
    width:auto;
    position:absolute;
    bottom:0;
}

@keyframes waning {
    0% {
        height:90vh;
    }
    100% {
        height:0;
    }
}

@keyframes blink {
    0% {
        height:90vh;
    }
    20% {
        height:0vh;
    }
    40% {
        height:80vh;
    }
    50% {
        height:0vh;
    }
    60% {
        height:90vh;
    }
    100% {
        height:90vh;
    }
}

@keyframes glowing {
    0% {
        box-shadow:
        0 0 16px 2px #fff,  /* inner white */
        0 0 16px 2px yellow;
        

        filter:brightness(1);
    }
    50% {
        box-shadow:
        0 0 16px 2px yellow,  /* inner white */
        0 0 16px 2px orange;


        filter:brightness(1.5);
    }
    100% {
        box-shadow:
        0 0 16px 2px #fff,  /* inner white */
        0 0 16px 2px yellow;

        filter:brightness(1);
    }
}